/* MAIN */

*{
        outline: none;
}

MainWindow, QDialog {
    background-color: @color-dark-grey;
}

QWidget {
    font-weight:500;
}

/* LABELS */

QLabel {
    color: @color-less-light-grey;
}

/* TOOL BUTTONS */

QToolButton {
    background: none;
    padding: @padding-small;
    border-radius: @padding-small;
    color: @color-light-grey ;
}

QToolButton::menu-indicator {
    image: none;
}

QToolButton:hover {
    background-color: @color-medium-grey;
}

/* COMBO BOX */

QComboBox {
    background-color: @color-less-dark-grey;
    border-radius: @padding-small;
    padding: @padding-small;
    border:none;
    color: @color-light-grey;
}

QComboBox::item {
    background-color: @color-medium-grey;
    color: @color-very-dark-grey;
}

QComboBox:hover {
    background-color: @color-medium-grey;
}

QComboBox::item:selected{
    color: @color-light-grey;
    border:none;
}

QComboBox::item:checked{
    color: @color-light-grey;
}

QComboBox::drop-down {
    border:none;
}

QComboBox::indicator {
    image:none;
}

QComboBox::down-arrow {
      image: url(:/icons/select);
      width: 10px;
      height: 10px;
      padding-right: @padding-small;
}

QComboBox QAbstractItemView {
    background-color: @color-medium-grey;
    selection-color: @color-light-grey;
    selection-background-color: @color-medium-grey;
    padding-left: @padding-large;
}


/* LISTS */

QListWidget {
    background-color: @color-very-dark-grey;
}

QListWidget::item {
    color: @color-less-light-grey;
    padding: @padding-large;
    border-left: @padding-large;
}

QListWidget::item:hover {
    background-color: @color-darker-grey;
 }

QListWidget::item:selected {
    color: @color-light-grey;
    background-color: @color-dark-grey;
 }

/* MENUS */

QMenu {
  background-color: @color-medium-grey;
  margin: @padding-large;
  border:none;
}

QMenu::item {
    color: @color-very-dark-grey;
    padding-left: 23px;
    padding-top: @padding-small;
    padding-bottom: @padding-small;
}

QMenu::item:selected {
    color: @color-light-grey;
    border:none;
}

QMenu::separator {
  height: 1px;
  background-color: @color-less-dark-grey;
  margin-top: @padding-small;
  margin-bottom: @padding-small;
}

/* TITLE BAR */

#titleWidget {
    background-color: @color-less-dark-grey;
}

/* TOOLBAR */

QToolBar {
        background: @color-medium-grey;
        border: none;
        padding: @margin;
}

#windowButton {
    width: @small-button-size;
    height: @small-button-size;
}

QToolBar QToolButton:hover {
    background-color: @color-dark-grey;
}

QToolBar QLabel {
    color: @color-light-grey;
}
/* STATUSBAR */

QStatusBar {
    background-color: @color-very-dark-grey;
    padding: @margin;
}

QStatusBar QLabel {
    color: @color-less-light-grey;
}

QStatusBar QSizeGrip {
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
      stop: 0.5 @color-very-dark-grey, stop: 0.55 @color-medium-grey);
}

QStatusBar QToolButton {
    width: @very-small-button-size;
    height: @very-small-button-size;
    padding: @margin;
    border-radius: @margin;
}

QStatusBar QToolButton:hover {
    background-color: @color-medium-grey;
}

QStatusBar QToolButton:checked {
    background-color: @color-abyss-grey;
}

/* SPLASH SCREEN */

QSplashScreen QProgressBar {
    height: @progress-size;
    text-align: left;
}

QSplashScreen QLabel {
    background: transparent;
    color: @color-dark-grey;
}
